<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/all.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
<script src="{{ url_for('static', filename='js/kaiser.js') }}"></script>
<script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
<title>dev character</title>
</head>
<body>
<div id="sidebar">
    {% include 'sidebar.html' %}
</div>
<div id='center' class="dashboard_wp">
    <div class="dashbox">
        {% if login_id %}
        <div class="dashbox_tit">dev character</div>
        <ul>
            <li><button class="btn_in2 openPopup" data-file="pop_up2.html" data-target="typingContainerz"><i class="fa-solid fa-magnifying-glass"></i> Load Scenario</button></li>
            <li><button class="btn_in2 openPopupfile" data-file="pop_up_file.html" ><i class="fa-solid fa-upload"></i> Upload Scenario</button></li>
        </ul>
        <div class="dashscenpbox" id="dashscenpbox">
            <div id="typingContainerz"></div>
        </div>
        <ul id="senbtnbox" class="senbtnbox">
            <li><button class="btn_in2 openPopup5" data-file="pop_up5.html" data-target="typingContainerv"><i class="fa-solid fa-magnifying-glass"></i> Load Character</button></li>
            <li><a href=""><button class="btn_in2"><i class="fa-solid fa-pen-nib"></i> Analyze Character</button></a></li>
        </ul>
        <div class="dashchar" id="dashchar">
            <h2>Character 분석</h2>
            <div id="typingContainerv" class="charbox"></div>
        </div>

        {% else %}
            <div class="dashbox_tit">dev character</div>
            <p><a href="/login">Login</a>
            <p>
        {% endif %}
    </div>
<div id="popupContainer"></div>
</div>
<script type="module" src="{{ url_for('static', filename='js/scenario.js') }}"></script>
<script src="{{ url_for('static', filename='js/plotis.js') }}"></script>
<script src="{{ url_for('static', filename='js/drop.js') }}"></script>
</body>
</html>
