<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <ul>
        <li><a href="/synopsis">AI Synopsis</a></li>
        <li><a href="/pdf">Location chart</a></li>
        <li><a href="/conti">Conti</a></li>
        <li><a href="/character">Dev Character</a></li>
        <li><a href="/concept">Concept Art</a></li>
        <li><a href="/ppt">PPT</a></li>
        <li><a href="/budget">Budgeting</a></li>
        <li><a href="/schedule">Scheduling</a></li>
    </ul>
</body>
</html>
