<div id="popupOverlay" class="popup-overlay">
    <div class="popup" id="popupContainer">
      <button class="close-btn" id="closePopup">X</button>
      <form>
          <!-- 라디오 버튼 그룹 -->
          <fieldset>
              <ul>
                  {% for data in popup_data %}
                  <li>
                      <label for="Budget{{ data[0] }}">
                          <input type="radio" id="Budget{{ data[0] }}" name="contentOptionb" value="{{ data[0] }}"> Budget {{ loop.index }}
                      </label>
                  </li>
                  {% endfor %}
              </ul>
          </fieldset>
      </form>
      <button id="startTyping" class="btn_in2"><i class="fa-solid fa-magnifying-glass"></i> Load Budget</button>
  </div>
</div>

<div id="hiddenContentb1" style="display: none;">
  <table id="budgetTable1" class="budgetTable">
      <thead>
          <tr>
              <th>항목</th>
              <th>기간</th>
              <th>세부항목</th>
              <th>가격</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td rowspan="6">Preproduction</td>
              <td>6주</td>
              <td>시나리오개발</td>
              <td>
                  <input type="text" class="prdPrice" value="100000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>4주</td>
              <td>캐스팅</td>
              <td>
                  <input type="text" class="prdPrice" value="200000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>3주</td>
              <td>로케이션 스카우팅</td>
              <td>
                  <input type="text" class="prdPrice" value="150000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>4주</td>
              <td>아트 디렉션 및 세트 디자인</td>
              <td>
                  <input type="text" class="prdPrice" value="300000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>3주</td>
              <td>스토리보드제작</td>
              <td>
                  <input type="text" class="prdPrice" value="50000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>2주</td>
              <td>리허설 및 워크샵</td>
              <td>
                  <input type="text" class="prdPrice" value="100000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td rowspan="2">Production</td>
              <td>18주</td>
              <td>촬영</td>
              <td>
                  <input type="text" class="prdPrice" value="1500000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>18주</td>
              <td>일일 촬영 검토</td>
              <td>
                  <input type="text" class="prdPrice" value="200000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td rowspan="4">Postproduction</td>
              <td>8주</td>
              <td>편집</td>
              <td>
                  <input type="text" class="prdPrice" value="300000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>16주</td>
              <td>시각 효과 및 색보정</td>
              <td>
                  <input type="text" class="prdPrice" value="500000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>12주</td>
              <td>사운드 디자인 및 믹싱</td>
              <td>
                  <input type="text" class="prdPrice" value="200000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>4주</td>
              <td>최종 검수 및 수정</td>
              <td>
                  <input type="text" class="prdPrice" value="100000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td rowspan="4">P&A (Publicity & Advertising)</td>
              <td>4주</td>
              <td>마케팅 전략 수립</td>
              <td>
                  <input type="text" class="prdPrice" value="150000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>3주</td>
              <td>트레일러 제작</td>
              <td>
                  <input type="text" class="prdPrice" value="100000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>2주</td>
              <td>시사회 및 언론 공개</td>
              <td>
                  <input type="text" class="prdPrice" value="80000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
          <tr>
              <td>3주</td>
              <td>개봉 전 프로모션</td>
              <td>
                  <input type="text" class="prdPrice" value="120000000" readonly/>
                  <span class="formattedPrice"></span>
              </td>
          </tr>
      </tbody>
      <tfoot>
           <tr>
               <th colspan="3">Total</th>
               <th><span class="totalDisplay" data-budget="budgetTable1">0</span></th>
           </tr>
       </tfoot>
  </table>
</div>
