<div id="popupOverlay" class="popup-overlay">
    <div class="popup" id="popupContainer">
      <button class="close-btn" id="closePopup">X</button>
      <form>
          <!-- 라디오 버튼 그룹 -->
          <fieldset>
              <ul>
                  {% for data in popup_data %}
                  <li>
                      <label for="Budget{{ data[0] }}">
                          <input type="radio" id="Budget{{ data[0] }}" name="contentOptionb" value="{{ data[0] }}" data-budget='{{ data[1] | tojson }}' > Budget {{ loop.index }}
                      </label>
                  </li>
                  {% endfor %}
              </ul>
          </fieldset>
      </form>
      <button id="startTyping" class="btn_in2"><i class="fa-solid fa-magnifying-glass"></i> Load Budget</button>
  </div>
</div>
