<div class="ds_header">
  <div class="ds_logo">
      <a href="/dashboard">
      <ul class="logo_ci">
          <li class="logo_ci_wh"><img src="{{ url_for('static', filename='img/logo_ci.svg') }}"></li>
          <li class="logo_txt"><img src="{{ url_for('static', filename='img/logo_txt.svg') }}"></li>
      </ul>
      </a>
  </div>
  <div class="ds_home">
      <ul class="ds_homeli">
          <li>
              <label for="layer-toggle">
              <i class="fa-regular fa-user" style="cursor: pointer;"></i>
              </label>
          </li>
          <li><a href="/" target="_blank"><i class="fa-solid fa-house" title="homepage"></i></a></li>
      </ul>
    <input type="checkbox" id="layer-toggle" hidden>
    <div class="ds_overlay">
      <label for="layer-toggle" class="background"></label> <!-- 레이어 외부 클릭 닫기 -->
      <div class="layer-popup">
        <label for="layer-toggle" class="close-link"><i class="fa-solid fa-xmark"></i></label> <!-- 닫기 버튼 -->
        {% if login_id %}
          <p><a href="/modify">west 님</a></p>
          <ul>
            <li><a href="/logout"><button class="btn_in2">Logout</button></a></li>
          </ul>
        {% else %}
          <p>guest</p>
          <ul>
            <li><a href="/login"><button class="btn_in2">Login</button></a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <label for="openSidebarMenu">
          <li class="icon_up">
              <a href="/synopsis"><img src="/static/img/svg/synop.svg" class="svg-icon" title="synopsis" alt="synopsis"><span>synopsis</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/scenario"><img src="/static/img/svg/scen.svg" class="svg-icon" title="scenario" alt="scenario"><span>scenario</span></a>
          </li>
        </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/conti"><img src="/static/img/svg/conti.svg" class="svg-icon" title="conti" alt="conti"><span>conti</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/concept"><img src="/static/img/svg/concept.svg" class="svg-icon" title="concept art" alt="concept art"><span>concept art</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/character"><img src="/static/img/svg/char.svg" class="svg-icon" title="dev character" alt="dev character"><span>dev character</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/schedule"><img src="/static/img/svg/schdul.svg" class="svg-icon" title="scheduling" alt="scheduling"><span>scheduling</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/budget"><img src="/static/img/svg/budget.svg" class="svg-icon" title="budgeting" alt="budgeting"><span>budgeting</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/ppt"><img src="/static/img/svg/ppt.svg" class="svg-icon" title="PPT" alt="PPT"><span>PPT</span></a>
          </li>
      </label>
      <label for="openSidebarMenu">
          <li class="icon_up">
             <a href="/previz"><img src="/static/img/svg/previz.svg" class="svg-icon" title="previz" alt="previz"><span>Previz</span></a>
          </li>
      </label>
    </ul>
  </div>
